<div class="dashboard-container">
  <div class="dashboard-header">
    <div>
      <h3>Hi, Admin</h3>
      <p>Welcome to the BackOffice101 Dashboard</p>
    </div>
    <button mat-raised-button color="primary">Primary</button>
  </div>

  <mat-grid-list [cols]="colNum" [rowHeight]="rowHeight">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div class="header-card">
            <span class="label-card">User Registration</span>
            <div mat-card-avatar>
              <mat-icon matListIcon class="icon">account_circle</mat-icon>
            </div>
          </div>
          <div>
            <span class="value-card">234</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div class="header-card">
            <span class="label-card">User Registration</span>
            <div mat-card-avatar>
              <mat-icon matListIcon class="icon">account_circle</mat-icon>
            </div>
          </div>
          <div>
            <span class="value-card">234</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div class="header-card">
            <span class="label-card">User Registration</span>
            <div mat-card-avatar>
              <mat-icon matListIcon class="icon">account_circle</mat-icon>
            </div>
          </div>
          <div>
            <span class="value-card">234</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div class="header-card">
            <span class="label-card">User Registration</span>
            <div mat-card-avatar>
              <mat-icon matListIcon class="icon">account_circle</mat-icon>
            </div>
          </div>
          <div>
            <span class="value-card">234</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div>test</div>
</div>
